ipykernel==6.29.5
ipython==8.36.0
jupyter-client==8.6.3
jupyter_core==5.7.2
levenshtein==0.27.1
lightning==2.5.1.post0
lightning-utilities==0.14.3
lingpy==2.6.13
matplotlib==3.10.1
matplotlib-inline==0.1.7
nltk==3.9.1
numpy==2.2.5
pandas==2.2.3
pytorch-lightning==2.5.1.post0
pyyaml==6.0.2
sentencepiece==0.2.0
spacy==3.8.5
tokenizers==0.21.1
torch==2.7.0
tqdm==4.67.1
transformers==4.51.3
xlsxwriter==3.2.5