MODULE_HOME_DIR=/home/hatch5o6/Cognate/code

# SC/Cognate
# For translating hsb (Upper Sorbian) to German
NMT_SRC=hsb
NMT_TGT=de
AUG_SRC=cs
AUG_TGT=de
SRC=cs
TGT=hsb
SEED=0
PARALLEL_TRAIN=/home/hatch5o6/Cognate/code/NMT/data/PLAIN/cs-hsb/train.csv
PARALLEL_VAL=/home/hatch5o6/Cognate/code/NMT/data/PLAIN/cs-hsb_dev_test/val.csv
PARALLEL_TEST=/home/hatch5o6/Cognate/code/NMT/data/PLAIN/cs-hsb_dev_test/test.csv
APPLY_TO=/home/hatch5o6/Cognate/code/NMT/data/PLAIN/cs-de/train.csv,/home/hatch5o6/Cognate/code/NMT/data/PLAIN/cs-de_dev_test/val.csv,/home/hatch5o6/Cognate/code/NMT/data/PLAIN/cs-de_dev_test/test.csv
NO_GROUPING=false
SC_MODEL_TYPE=RNN
COGNATE_TRAIN=/home/hatch5o6/nobackup/archive/data/COGNATE_TRAIN_NG-False/cs-hsb
COGNATE_THRESH=0.5
COPPERMT_DATA_DIR=/home/hatch5o6/nobackup/archive/CopperMT_NG-False
COPPERMT_DIR=/home/hatch5o6/Cognate/code/CopperMT/CopperMT
PARAMETERS_DIR=/home/hatch5o6/Cognate/code/Pipeline/parameters_NG-False
RNN_HYPERPARAMS=/home/hatch5o6/Cognate/code/Pipeline/rnn_hyperparams
RNN_HYPERPARAMS_ID=25
BEAM=5
NBEST=1
REVERSE_SRC_TGT_COGNATES=false

SC_MODEL_ID=CS-HSB-RNN-1

# COGNATE_TRAIN_RATIO=0.80
# VAL_COGNATES_SRC=null
# VAL_COGNATES_TGT=null
# COGNATE_VAL_RATIO=0.10
# TEST_COGNATES_SRC=null
# TEST_COGNATES_TGT=null
# COGNATE_TEST_RATIO=0.10

ADDITIONAL_TRAIN_COGNATES_SRC=/home/hatch5o6/nobackup/archive/data/CogNet/ces-hsb/combined_with_etymdb/split/cs.train-s=1420.txt
ADDITIONAL_TRAIN_COGNATES_TGT=/home/hatch5o6/nobackup/archive/data/CogNet/ces-hsb/combined_with_etymdb/split/hsb.train-s=1420.txt
COGNATE_TRAIN_RATIO=null
VAL_COGNATES_SRC=/home/hatch5o6/nobackup/archive/data/CogNet/ces-hsb/combined_with_etymdb/split_UT/cs.val-s=1420.txt
VAL_COGNATES_TGT=/home/hatch5o6/nobackup/archive/data/CogNet/ces-hsb/combined_with_etymdb/split_UT/hsb.val-s=1420.txt
COGNATE_VAL_RATIO=null
TEST_COGNATES_SRC=/home/hatch5o6/nobackup/archive/data/CogNet/ces-hsb/combined_with_etymdb/split_UT/cs.test-s=1420.txt
TEST_COGNATES_TGT=/home/hatch5o6/nobackup/archive/data/CogNet/ces-hsb/combined_with_etymdb/split_UT/hsb.test-s=1420.txt
COGNATE_TEST_RATIO=null
