#!/bin/bash
# Spanish to Portuguese SC Config - Full pipeline test with FLORES data
MODULE_HOME_DIR=/Users/ringger/Projects/brendan/SCIMT
SRC=es
TGT=pt
SEED=1000
PARALLEL_TRAIN=/Users/ringger/Projects/brendan/SCIMT/charlotte-test/data/csv/train.csv
PARALLEL_VAL=/Users/ringger/Projects/brendan/SCIMT/charlotte-test/data/csv/val.csv
PARALLEL_TEST=/Users/ringger/Projects/brendan/SCIMT/charlotte-test/data/csv/test.csv
APPLY_TO=/Users/ringger/Projects/brendan/SCIMT/charlotte-test/data/csv/train.csv
NO_GROUPING=true
SC_MODEL_TYPE=RNN
COGNATE_THRESH=0.5
COGNATE_TRAIN=/Users/ringger/Projects/brendan/SCIMT/charlotte-test/cognates_es_pt
COPPERMT_DATA_DIR=/Users/ringger/Projects/brendan/SCIMT/charlotte-test/sc_models_es_pt
COPPERMT_DIR=/Users/ringger/Projects/brendan/SCIMT/CopperMT/CopperMT
PARAMETERS_DIR=/Users/ringger/Projects/brendan/SCIMT/charlotte-test/params_es_pt
REVERSE_SRC_TGT_COGNATES=false
SC_MODEL_ID=es_pt_test
ADDITIONAL_TRAIN_COGNATES_SRC=null
ADDITIONAL_TRAIN_COGNATES_TGT=null
VAL_COGNATES_SRC=null
VAL_COGNATES_TGT=null
TEST_COGNATES_SRC=null
TEST_COGNATES_TGT=null
COGNATE_TRAIN_RATIO=0.8
COGNATE_VAL_RATIO=0.1
COGNATE_TEST_RATIO=0.1
RNN_HYPERPARAMS=/Users/ringger/Projects/brendan/SCIMT/Pipeline/rnn_hyperparams
RNN_HYPERPARAMS_ID=default
BEAM=5
NBEST=1
