# SPM MODELS:
SPM_TRAIN_SIZE=500000

SRC_LANGS=esx,anx
SRC_TOK_NAME=esx-anx

TGT_LANGS=enx
TGT_TOK_NAME=enx

DIST=esx:25,anx:25,enx:50

TRAIN_PARALLEL=/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/esx-enx/train.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/anx-enx/train.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/esx-anx/train.csv
# VAL_PARALLEL=/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/esx-enx/val.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/anx-enx/val.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/esx-anx/val.csv
# TEST_PARALLEL=/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/esx-enx/test.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/anx-enx/test.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/esx-anx/test.csv
TOK_TRAIN_DATA_DIR=/home/hatch5o6/nobackup/archive/CognateMT/spm_models/esx-anx_enx
SC_MODEL_ID=null
VOCAB_SIZE=32000

SPLIT_ON_WS=false
INCLUDE_LANG_TOKS=false
INCLUDE_PAD_TOK=true
SPECIAL_TOKS=null

IS_ATT=false