# SPM MODELS:
SPM_TRAIN_SIZE=500000

SRC_LANGS=frx,mfx
SRC_TOK_NAME=frx-mfx

TGT_LANGS=enx
TGT_TOK_NAME=enx

DIST=frx:25,mfx:25,enx:50

TRAIN_PARALLEL=/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/frx-enx/train.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/mfx-enx/train.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/frx-mfx/train.csv
# VAL_PARALLEL=/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/frx-enx/val.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/mfx-enx/val.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/frx-mfx/val.csv
# TEST_PARALLEL=/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/frx-enx/test.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/mfx-enx/test.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/frx-mfx/test.csv
TOK_TRAIN_DATA_DIR=/home/hatch5o6/nobackup/archive/CognateMT/spm_models/frx-mfx_enx
SC_MODEL_ID=null
VOCAB_SIZE=32000

SPLIT_ON_WS=false
INCLUDE_LANG_TOKS=false
INCLUDE_PAD_TOK=true
SPECIAL_TOKS=null

IS_ATT=false