# SPM MODELS:
SPM_TRAIN_SIZE=500000

SRC_LANGS=fry,mfy
SRC_TOK_NAME=fry-mfy

TGT_LANGS=eny
TGT_TOK_NAME=eny

DIST=fry:25,mfy:25,eny:50

TRAIN_PARALLEL=/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/fry-eny/train.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/mfy-eny/train.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/fry-mfy/train.csv
# VAL_PARALLEL=/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/fry-eny/val.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/mfy-eny/val.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/fry-mfy/val.csv
# TEST_PARALLEL=/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/fry-eny/test.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/mfy-eny/test.csv,/home/hatch5o6/Cognate/code/NMT/data/CharLOTTE/PLAIN/fry-mfy/test.csv
TOK_TRAIN_DATA_DIR=/home/hatch5o6/nobackup/archive/CognateMT/spm_models/fry-mfy_eny
SC_MODEL_ID=null
VOCAB_SIZE=32000

SPLIT_ON_WS=false
INCLUDE_LANG_TOKS=false
INCLUDE_PAD_TOK=true
SPECIAL_TOKS=null

IS_ATT=false