# outputs
src: djk
tgt: en
save: /home/hatch5o6/nobackup/archive/CognateMT/PredictCognates/djk-en/NMT.SC_djk2en-en
test_checkpoint: null
remove_special_toks: True
verbose: False
little_verbose: True

# finetune?
from_pretrained: null

# data
train_data: /home/hatch5o6/Cognate/code/NMT/data/SC/SC_djk2en-en/train.no_overlap_v1.csv
val_data: /home/hatch5o6/Cognate/code/NMT/data/SC/SC_djk2en-en_dev_test/val.no_overlap_v1.csv
test_data: /home/hatch5o6/Cognate/code/NMT/data/SC/SC_djk2en-en_dev_test/test.csv
append_src_token: False
append_tgt_token: False
upsample: False
sc_model_id: DJK-EN-SMT-0-SMT-null

# tokenizers
spm: /home/hatch5o6/nobackup/archive/CognateMT/spm_models/SC_djk2en_en/SC_djk2en_en/SC_djk2en_en
do_char: False

# training
n_gpus: 1
seed: 1000
qos: dw87

max_steps: 20000
train_batch_size: 32
val_batch_size: 32
test_batch_size: 32

early_stop: 10
save_top_k: 10
val_interval: 0.5 # fraction of epoch

learning_rate: 2e-04
weight_decay: 0.00

device: cuda

# config
encoder_layers: 6
encoder_attention_heads: 8
encoder_ffn_dim: 2048
encoder_layerdrop: 0.0

decoder_layers: 6
decoder_attention_heads: 8
decoder_ffn_dim: 2048
decoder_layerdrop: 0.0

max_position_embeddings: 512
max_length: 512
d_model: 512
dropout: 0.1
activation_function: gelu
